In [7]:
a=['abc','afdg','gfh']
list(a)

['abc', 'afdg', 'gfh']

In [8]:
[list(i) for i in a]# by using list compherence

[['a', 'b', 'c'], ['a', 'f', 'd', 'g'], ['g', 'f', 'h']]

In [9]:
list(map(list,a))#by using map method

[['a', 'b', 'c'], ['a', 'f', 'd', 'g'], ['g', 'f', 'h']]

In [10]:
[map(lambda x:x**2,range(10))]

In [11]:
[*map(lambda x:x**2,range(10))]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
mylist=['1','2','30']
map(int,mylist)
list(map(int,mylist))

[1, 2, 30]

In [13]:
[i**2 for in i range(10)]

SyntaxError: invalid syntax (<ipython-input-13-fad6481d7c26>, line 1)

In [2]:
#inpu=[1,2,3,4] and output will be [2,3,4,5]
lst=[1,2,3,4]
[i+1 for i in lst]

[2, 3, 4, 5]

In [3]:
[*map(lambda i:i+1,lst)] # this is the first way

[2, 3, 4, 5]

In [4]:
map(lambda i:i+1,lst)#this is tha second way

In [5]:
list(map(lambda i:i+1,lst))# this is tha third way

[2, 3, 4, 5]

In [11]:
# using a list  comprhension, create a new list out of s list of numbers,which contains  only positive numbers 
#list=[-11.4,22.3,-45.2,20.1,30.5,-16.5]
list=[-11.4,22.3,-45.2,20.1,30.5,-16.5]
[ i for i in list if i>0]

[22.3, 20.1, 30.5]

In [14]:
list=[-11.4,22.3,-45.2,20.1,30.5,-16.5]
["i" if i>0 else " negitive" for i  in list]

[' negitive', 'i', ' negitive', 'i', 'i', ' negitive']

In [23]:
lst=[i for i  in range(15) if i%2==0 if i%5==0 ]
lst

[0, 10]

# 1. Read the input as string and Output will be alternate words in lower case
#       Example #1:
#       Input : Learn Python Programming EASy
#       Output : python easy

In [31]:
str="Learn Python Programming EASy"
str1=str.split()
for i in range(1,len(str1),2):
    print(str1[i].lower(),end=" ")

python easy

In [29]:
str="Learn Python Programming EASy"
a=str.split()
a

['Learn', 'Python', 'Programming', 'EASy']

In [30]:
len(a)

4

# 1. Read the input as string and Output will be alternate words in lower case
#       Example #1:
#       Input : Learn Python Programming EASy
#       Output : python easy

# 2. The program must accept an integer N as the input. Need to print the output in the following    manner.
#      Example Input/Output 1:
#        145  
#        Output:
#        Five Four One
#     Example Input/Output 2:
#         123  
#        Output:
#       Three two one

In [5]:
s={"1":"one","2":"two","3":"three","4":"four","5":"five","6":"six","7":"seven","8":"eight","9":"nine","0":"zero"}
num=input('enter number')
l=[]
for i in num:
   x=s.get(i)
   l.append(x)
x=l[::-1]
print(*x)

enter number12345
five four three two one

In [3]:
s={"1":"one","2":"two","3":"three","4":"four","5":"five","6":"six","7":"seven","8":"eight","9":"nine","0":"zero"}
num=input('enter number')
l=[]
for i in num:
    x=s.get(i)
    l.append(x)
l

enter number123

['one', 'two', 'three']

# 4. Split A Python List Into Evenly Sized Chunks
#    Input: x = [1,2,3,4,5,6,7,8,9]
#    Output  = [ (1, 2, 3), (4, 5, 6), (7, 8, 9) ]

In [4]:
x = [1,2,3,4,5,6,7,8,9]
#*[iter(x)]*3
a=(zip(*[iter(x)]*3))
a
list(a)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [32]:
 

l1=[]
t1=[]
t2=[]
t3=[]
for i in x:
    if i>0 and i<4:
        t1.append(i)
    if i>3 and i<7:
        t2.append(i)
    if i>6 and i<10:
        t3.append(i)         
a=tuple(t1)
b=tuple(t2)
c=tuple(t3)
l1.append(a)
l1.append(b)
l1.append(c)
l1

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# 3. Count the number of occurances of elements in a list using traditional method and also with  list comprehension
#    Input : list= ["a", "b", "b",  "b",  "c",  "a", "c",  "d", "c"]
#    Output: [['b', 3], ['a', 2],["c",3], ["d", 1]]

In [ ]:
## counting all list items with counter()# c must be caps
from collections import Counter
list=['a','b','c']
Counter(list)
#it is  one of the way

In [45]:
# by using list comphrension

list= ["a", "b", "b",  "b",  "c",  "a", "c",  "d", "c"]
[[i,list.count(x)] for i in set(list) ]

3

# 5. Create Flat Lists Out Of Lists
#     Input : list =  [ [1,2], [3,4], [5,6] ]
#    Output:  [1, 2, 3, 4, 5, 6]

In [4]:
l1 =  [ [1,2], [3,4], [5,6] ]
sum(l1,[])

[1, 2, 3, 4, 5, 6]

In [6]:
l1 =  [ [1,2], [3,4], [5,6] ]
l2=[]
for i  in l1:
    for a in i:
        l2.append(a)
        
l2

[1, 2, 3, 4, 5, 6]

# 6. Sum Lists Element-Wise  using map function
#    Input: list1=[1, 2, 3]
#                list2=[4, 5, 6]
#    Output:   [5,7,9]

In [11]:
l1=[1,2,3]
l2=[4,5,6]
list(zip(l1,l2))
[sum(i) for i in zip(l1,l2)] # this is tha first way

[5, 7, 9]

In [10]:
from operator import add
list(map(add,l1,l2))# this is another way

[5, 7, 9]

In [5]:
# 7. Print the first character from each word in the list using list comprehension
#    Input : ["this", "is", "a", "list", "of", "words"]
#    Output: ['t', 'i', 'a', 'l', 'o', 'w']

In [7]:
l=["this", "is", "a", "list", "of", "words"] #by using list
b=[i[0] for i in l]
b

['t', 'i', 'a', 'l', 'o', 'w']

In [9]:
l=['this is chandu']
b=[i[0] for i in l]
b
# for strings we r use

['t']